<div class="container-fluid">
  <div class="row">
    <div class="col min-vh-100 py-3">
      <button class="btn btn-outline-primary d-none d-md-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <%= bootstrap_icon 'list' %>
      </button>

      <%= render partial: 'tasks'%>

      <!-- Mobile View  -->
      <ul class="list-group list-group-horizontal bg-primary d-md-none fixed-bottom">
        <li class="list-group-item d-md-none d-flex align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style='background-color: #514c85'>
            <%= bootstrap_icon 'list' %>
        </li>
        <li class="list-group-item d-md-none d-flex flex-column align-items-center justify-content-center w-100">
          <%= bootstrap_icon 'list-task' %>
          <p class="mb-0" style="font-size: .5rem">Tasks</p>
        </li>
        <li class="list-group-item d-md-none d-flex flex-column align-items-center justify-content-center w-100">
          <%= bootstrap_icon 'calendar-date' %>
          <p class="mb-0" style="font-size: .5rem">Calendar</p>
        </li>
        <li class="list-group-item d-md-none d-flex flex-column align-items-center justify-content-center w-100">
          <%= bootstrap_icon 'person' %>
          <p class="mb-0" style="font-size: .5rem">Mine</p>
        </li>
      </ul>
    </div>
  </div>
</div>
