<div class="container-fluid">
  <%= form_with(model: @task, url: task_path(@task), method: :put, data: { turbo: false }) do |form| %>
    <div class="form-group">
      <div class="mb-3 d-flex flex-row justify-content-between">
      <%= form.select :category_id, options_for_select(current_user.categories.where.not(id: @task.category_id).pluck(:name, :id)), { include_blank: @task.category.present? ? @task.category.name : 'No Category' }, class: 'form-select bg-dark text-light', id: 'task_category' %>
        <div class="nav-item dropdown">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= bootstrap_icon 'three-dots-vertical' %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Mark as Done</a>
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Start to Focus</a>
            <div class="dropdown-item">Share</div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <%= form.text_field :title, class: 'form-control bg-body text-light border border-0 px-2', placeholder: 'Input new task here...'%>
      </div>
      <ul class="list-group ">
        <li class="list-group-item bg-dark border border-0  d-flex align-items-center">
          <div class="col-6 d-flex align-items-center">
            <%= bootstrap_icon 'calendar-event', class: 'text-warning'%><span class="ms-2 text-light"> Due Date </span>
          </div>
          <div class="col-6">
            <%= form.date_field :due_date, class: 'bg-primary text-light border border-0 px-2', value: Date.tomorrow %>
          </div>
        </li>
        <li class="list-group-item bg-dark border border-0  d-flex align-items-center">
          <div class="col-6 d-flex align-items-center">
            <%= bootstrap_icon 'card-text', class: 'text-warning'%><span class="ms-2 text-light">Notes</span>
          </div>
          <div class="col-6">
            <%= form.text_area :notes, class: 'form-control' %>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <%= form.submit 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
