
<!--
<div class="w-100" data-bs-toggle="collapse" href="#previous" role="button" aria-expanded="false" aria-controls="previous">
  <a class="text-decoration-none nav-link ">
    <span class="ms-1 text-light dropdown-toggle">Previous</span>
  </a>
  <div class="collapse show pt-2" id="previous">
    <div class="card border border-0">
      <ul class="list-group d-flex flex-row p-2 align-items-center gap-2" style='background-color: #514c85'>
        <input class="form-check-input ms-2 col-2" type="radio" name="listGroupRadio" value="" id="secondRadio">
        <div class="d-flex flex-column align-items-start align-items-md-center col-9">
          <label class="form-check-label" for="secondRadio">(CCNA Introduction To Network)</label>
          <div class="d-flex align-items-center">
            <p class="mb-0 text-danger">05-10 09:00 am</p>
            <%= bootstrap_icon 'bell-fill', class: 'ms-2'%><%= bootstrap_icon 'list-task', class: 'ms-2'%>
          </div>
        </div>
        <%= bootstrap_icon 'star', class: 'col-1'%>
      </ul>
    </div>
  </div>
</div>
-->

<!--
<div class="w-100 pt-2" data-bs-toggle="collapse" href="#today" role="button" aria-expanded="false" aria-controls="today">
  <a class="text-decoration-none nav-link ">
    <span class="ms-1 text-light dropdown-toggle">Today</span>
  </a>
  <div class="collapse show pt-2" id="today">
    <div class="card border border-0">
      <ul class="list-group d-flex flex-row p-2 align-items-center gap-2" style='background-color: #514c85'>
        <input class="form-check-input ms-2 col-2" type="radio" name="listGroupRadio" value="" id="secondRadio">
        <div class="d-flex flex-column align-items-start align-items-md-center col-9">
          <label class="form-check-label" for="secondRadio">Tasktifer UI/UX</label>
          <div class="d-flex align-items-center">
            <p class="mb-0 text-warning">05-10 12:00 am</p>
            <%= bootstrap_icon 'bell-fill', class: 'ms-2'%><%= bootstrap_icon 'list-task', class: 'ms-2'%>
          </div>
        </div>
        <%= bootstrap_icon 'star', class: 'col-1'%>
      </ul>
    </div>
  </div>
</div>
-->
<div class="collapse show pt-2" id="future" data-bs-toggle="collapse">
  <div class="card border border-0">
    <ul class="list-group d-flex flex-row p-2 align-items-center gap-2" style='background-color: #514c85'>
      <input class="form-check-input ms-2 col-2" type="checkbox" name="listGroupRadio" value="">
      <div class="d-flex flex-column align-items-start align-items-md-center col-9" data-bs-toggle="modal" data-bs-target="#show_task_<%= dom_id(task)%>_modal">
        <label class="form-check-label" for="future_task_<%= dom_id(task) %>"><%= task.title %></label>
        <div class="d-flex align-items-center">
          <p class="mb-0 text-info">11-28 1:30 pm</p>
          <%= bootstrap_icon 'bell-fill', class: 'ms-2'%><%= bootstrap_icon 'list-task', class: 'ms-2'%>
        </div>
      </div>
      <%= bootstrap_icon 'star', class: 'col-1'%>
      <%= button_to task_path(task), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },class: 'text-decoration-none dropdown-item text-danger', title: 'Delete' do %>
        Remove
      <% end %>
    </ul>

    <div class="modal fade" id="show_task_<%= dom_id(task)%>_modal" tabindex="-1" aria-labelledby="show_task_<%= dom_id(task)%>_modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= turbo_frame_tag :edit_task_frame, src: edit_task_path(task) do %>
            Loading...
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Mobile Vew -->
<div class="d-block d-md-none collapse show pt-2" id="future" data-bs-toggle="collapse">
  <div class="card border border-0">
    <%= link_to edit_task_path(task), class:' text-decoration-none list-group d-flex flex-row p-2 align-items-center', style:'background-color: #514c85' do %>
      <input class="form-check-input ms-2 col-1" type="checkbox" name="listGroupRadio" value="">
      <div class="d-flex flex-column align-items-center col-9">
        <label class="form-check-label" for="future_task_<%= dom_id(task) %>"><%= task.title %></label>
        <div class="d-flex align-items-center">
          <p class="mb-0 text-info"><%= format_due_date(task.due_date) %> <%= format_start_time(task.start_time) %></p>
          <%= bootstrap_icon 'bell-fill', class: 'ms-2'%><%= bootstrap_icon 'list-task', class: 'ms-2'%>
        </div>
      </div>
      <%= bootstrap_icon 'star', class: 'col-2'%>
    <% end %>
    <%= button_to task_path(task), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },class: 'text-decoration-none dropdown-item text-end p-2 text-danger', title: 'Delete' do %>
      Remove
    <% end %>
  </div>
</div>
