<div class='container-fluid'>
<% user = UserPresenter.new(current_user) %>
  <div class='row'>
    <div class='col min-vh-100 py-3'>
      <div class='row'>
        <div class='col-8 col-lg-8'>
          <button class='btn btn-outline-primary d-none d-md-inline' type='button' data-bs-toggle='offcanvas' data-bs-target='#sideNav' aria-controls='sideNav'>
            <%= bootstrap_icon 'list' %>
          </button>
        </div>

        <div class='col-4 col-lg-2 d-flex flex-row gap-2'>
            <button type='button' class='btn btn-primary text-nowrap' data-bs-toggle='modal' data-bs-target='#new_task_modal'>
              <p class="d-none d-lg-inline">Add task</p>
              <%= bootstrap_icon 'plus', width: '1rem', class: 'd-inline d-lg-none'%>
            </button>
            <button type='button' class='btn btn-primary text-nowrap' data-bs-toggle='modal' data-bs-target='#new_category_modal'>
              <p class="d-none d-lg-inline">Add category</p>
              <%= bootstrap_icon 'grid-fill', width: '1rem', class: 'd-inline d-lg-none'%>
            </button>
          <!-- Modal -->
          <div class='modal fade' id='new_task_modal' tabindex='-1' aria-labelledby='new_task_modalLabel' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <p class='fw-bold text-light mb-0'>New task</p>
                  <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                </div>
                <%= turbo_frame_tag :new_task_frame, src: new_task_path do %>
                  Loading...
                <% end %>
              </div>
            </div>
          </div>
          <div class='modal fade' id='new_category_modal' tabindex='-1' aria-labelledby='new_category_modalLabel' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <p class='fw-bold text-light mb-0'>New category</p>
                  <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                </div>
                <%= turbo_frame_tag :new_category_frame, src: new_category_path do %>
                  Loading...
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- Button trigger modal -->
      <div class='container'>
        <nav class='nav nav-tabs gap-2 flex-row flex-nowrap overflow-auto py-2 <%= @tasks.present? ? '' : 'd-none' %>' style='overflow-y: hidden !important;'>
          <a class='nav-link text-nowrap active' data-bs-toggle='tab' href='#all' role='tab' aria-selected='true'>All</a>
          <%= render partial: 'tasks/category_tab', collection: user.categories, as: :category %>
        </nav>

        <div class='tab-content pt-2'>
          <div class='tab-pane fade show active' id='all' role='tabpanel'>
            <% unless @tasks.present? %>
              <%= render partial: 'tasks/no_task', locals: { user: user }%>
            <% else %>
                <% if @google_classroom_tasks.any? %>
                  <h5 class="text-warning">Classworks</h5>
                  <%= render partial: 'tasks/task', collection: @tasks.where(mark_as_done: 'false').where.not(url: nil), locals: { google_classroom_tasks: @google_classroom_tasks } %>
                <% end %>

                <% if @tasks.where(mark_as_done: 'false', url: nil).any? %>
                  <h5 class="text-warning">Current</h5>
                  <%= render partial: 'tasks/task', collection: @tasks.where(mark_as_done: 'false', url: nil) %>
                <% end %>

                <% if @tasks.where(mark_as_done: 'true').any? %>
                  <h5 class="text-warning mt-2">Completed</h5>
                  <%= render partial: 'tasks/completed_task', collection: @tasks.where(mark_as_done: 'true'), as: :task %>
                <% end %>
            <% end %>
          </div>
          <%= render partial: 'tasks/category_pane', collection: user.categories, as: :category, locals: { user: user } %>
        </div>
      </div>
      <!-- Mobile View  -->
      <%= render partial: 'tasks/footer'%>
    </div>
  </div>
</div>
