<div class="navbar bg-dark flex-md-nowrap p-0 shadow py-2">
  <div class="navbar-brand col-12 col-md-3 col-lg-2 me-0 px-3 fs-6 text-center">
    <%= link_to "Tasktifier Admin", admin_users_path, class: "text-white text-decoration-none h4 " %>
    <ul class='nav d-flex-row  d-md-none gap-2 mt-2'>
      <li class="nav-item bg-dark">
        <%= link_to root_path, class: " border border-0 bg-dark nav-link d-flex align-items-center gap-2 text-warning" do %>
          <%= bootstrap_icon 'house-fill' %> Home
        <% end %>
      </li>
        <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link d-flex align-items-center gap-2 text-warning #{"active" if controller_name == "users"}" do %>
          <%= bootstrap_icon 'people-fill' %> Users
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link border border-0 d-flex align-items-center gap-2 text-warning', data: { turbo_method: :delete } do %>
          <%= bootstrap_icon 'box-arrow-left', class: 'text-warning' %>
          <span class='ms-1'>Logout</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
