<tr class="text-center">
  <td><%= user.id %></td>
  <td><%= image_tag user_profile_picture(user), style:"width: 2rem; height: 2rem;"%></td>
  <td><%= user_username(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.gender %></td>
  <td><%= user.tasks.count %></td>
  <td class="<%= user.status_active? ? 'text-success' : 'text-danger' %>"><%= user.status %></td>
  <td>
   <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Action
      </button>
      <ul class="dropdown-menu">
        <%= link_to "View", admin_user_path(user), class: "dropdown-item" %>
        <%= button_to "#{user.status_active? ? 'Deactivate' : 'Activate'}", admin_status_path(user),class: 'dropdown-item text-danger', data: { controller: 'account--deactivation', action: 'click->account--deactivation#updateStatus', confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :patch  %>
      </ul>
    </div>
  </td>
</tr>
